<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>{{titulo}}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit repellendus nulla soluta perferendis dignissimos, voluptate vel omnis autem minus rerum doloremque dolorum officia, quam vitae reiciendis voluptas aliquam excepturi placeat!

    </p>

<img src="{{logohbs}}" alt="">

</body>
</html>